:root {
  --grey:rgb(119, 135, 139);
  --white:rgb(235, 248, 255);
  --red:rgb(248, 118, 102);
  --green:rgb(4, 36, 28);
  
  }

.background{
 background-color: rgb(119, 135, 139);
}

.backgroundRed{
  background-color: var(--red);
}

.backgroundGreen{
  background-color: var(--green);
}

body {
  font-family: 'Rubik', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}

.homeImg{
    height: 5%;
    width: 75%;
    justify-content: center;
}

#homeHeader{
  text-align: center;
}

.introStyle{
  margin-top: 8rem;
}

.header{
  background-color: var(--green);
}

.textWhite{
  color:var(--white);
}

.textGreen{
  color:var(--green);
}

.dot {
  height: 200px;
  width: 200px;
  background-color: var(--green);
  border-radius: 50%;
  display: inline-block;
  margin: 0px 15px 0px 15px;
  border: .5px solid var(--white);
}

.imgFormat {
  height:150px;
  width: 150px;
  border-radius: 50%;
  margin: 20px 0px 15px 0px;
}

.center{
  justify-content: center;
}

.splitter{
  margin:0;
  display: inline-block;
  background-color: var(--green);
  height:5px;
  width:100%;
}

.nav-pills .nav-link.active {
  background-color: var(--green) !important;
}

a:hover{
  color: var(--white);
}

.backgroundRed:hover{
  background-color: rgb(151, 74, 62);
}

.borderRed{
  border: solid 1px var(--red);
}

.borderGreen{
  border: solid 1px var(--green);
}